.App {
  text-align: center;
  align-items: center;
  background-color: #47443B;
}

.App-logo {
  height: 10vmin;
  margin-right: 4vmin; 
}

.App-image {
  height: 80vmin;
  margin-right: 4vmin; 
}

.App-header {
  background-color: #47443B;
  background-image: url("./components/images/landing_page_1.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}