.App {
  text-align: center;
  background-color: #ccff99;
}

.App-logo {
  height: 10vmin;
  margin-right: 4vmin; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dbffb3;
}

.App-link {
  color: #09d3ac;
}